.bayan {
  background-color: #f6f6ec;
  margin-left: 20%;
  margin-right: 20%;
}
h1 {
  padding-top: 20px;
  text-align: center;
}
.bayan input[type="checkbox"] {
  display: none;
}

.bayan img {
  display: none;
}

.bayan input:checked ~ img {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.bayan input:checked ~ label i.minus-icon {
  display: input;
  position: fixed;
  right: 25%;
}
.bayan input:checked ~ label i.plus-icon {
  display: none;
}
.bayan input:not(:checked) ~ label i.plus-icon {
  display: input;
  position: fixed;
  right: 25%;
}
.bayan input:not(:checked) ~ label i.minus-icon {
  display: none;
}

.bayan .list-item {
  margin: 20px;
}
.bayan div.list-item,
label:hover {
  cursor: pointer;
}

.bayan label {
  display: block;
  width: 100%;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
  h1 {
    font-size: 17px;
  }
  label {
    font-size: 13px;
  }
  .bayan {
    margin: 0px;
    width: 100%;
  }
}
@media only screen and (max-device-width: 1180px) and (min-device-width: 820px) {
  h1 {
    font-size: 24px;
  }
  label {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1080px) {
  h1 {
    font-size: 30px;
  }
  label {
    font-size: 26px;
  }
}
