.bayan {
  display: block;
  background-color: #f6f6ec;
  margin-left: 20%;
  margin-right: 20%;
  cursor: pointer;
}
.bayan h1 {
  padding-top: 20px;
  text-align: center;
}
.bayan input[type="checkbox"] {
  display: none;
}

.bayan .list-item {
  margin: 20px;
}
.bayan div.list-item,
label:hover {
  cursor: pointer;
}
.bayan div.list-item:hover {
  color: black;
}

.bayan label {
  display: block;
  width: 100%;
  color: blue;
  font-weight: 500;
}
.bayan:hover div > label {
  color: black;
  transition: all 0.5s ease-in-out;
}
.bayan input:checked + label {
  color: black;
}

.bayan label > i {
  display: none;
}
.bayan:hover div > label i {
  display: inline;
  position: fixed;
  right: 25%;
  transition: all 0.1s ease-in-out;
}

.bayan input:checked ~ label i.minus-icon {
  display: input;
  position: fixed;
  right: 25%;
}
.bayan input:checked ~ label i.plus-icon {
  display: none;
}
.bayan input:not(:checked) ~ label i.plus-icon {
  display: input;
  position: fixed;
  right: 25%;
}
.bayan input:not(:checked) ~ label i.minus-icon {
  display: none;
}

.bayan img {
  display: none;
}
.bayan input:checked ~ img {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.bayan input:hover ~ img {
  display: block;
  margin: 0 auto;
  transition: all 5s ease-in-out;
  width: 30%;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
  .bayan h1 {
    font-size: 30px;
  }
  .bayan label {
    font-size: 20px;
  }
  .bayan img {
    width: 40%;
  }
  .bayan {
    margin: 0px;
    width: 100%;
  }
}
@media only screen and (max-device-width: 1180px) and (min-device-width: 820px) {
  .bayan h1 {
    font-size: 25px;
  }
  .bayan label {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1080px) {
  h1 {
    font-size: 30px;
  }
  label {
    font-size: 20px;
  }
}
