.bayan {
  background-color: #f6f6ec;
  margin-left: 30px;
  margin-right: 30px;
}
.bayan input[type="checkbox"] {
  display: none;
}

.bayan img {
  display: none;
}

.bayan input:checked ~ img {
  display: block;
  margin: 0 auto;
}
.bayan input:checked ~ label i.minus-icon {
  display: input;
  position: fixed;
  right: 70px;
}
.bayan input:checked ~ label i.plus-icon {
  display: none;
}
.bayan input:not(:checked) ~ label i.plus-icon {
  display: input;
  position: fixed;
  right: 70px;
}
.bayan input:not(:checked) ~ label i.minus-icon {
  display: none;
}

.bayan .list-item {
  margin: 20px;
}
.bayan label:hover {
  cursor: pointer;
}

.bayan label {
  display: block;
  width: 100%;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
}
@media only screen and (max-device-width: 1180px) and (min-device-width: 820px) {
}
@media only screen and (max-width: 1920px) and (min-width: 1080px) {
}
